@model IEnumerable<Despensa.Models.Product>
@using System.Net.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image_front_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Image_front_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Product_Name">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Product_Name">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Product_Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
